.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.section-content {
    position: relative;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.about-info {
    max-width: 900px;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.2rem;

    & h3 {
        font-size: 2rem;
    }

    & h2 {
        font-size: 3.2rem;

        & span {
            color: var(--accent)
        }
    }
    & p {
        line-height: 1.4;
    }
}

.profile-cover, .profile-img-cover, .profile {
    border-radius: 50%;
}
.profile-cover {
    position: relative;
    width: 450px;
    aspect-ratio: 1 / 1;
    padding: 1.5rem;
    background: linear-gradient(to top right, var(--accent-dark) 30%, var(--accent) 50%, var(--accent-bg) 80%);
    box-shadow: 0 0 2rem 0.4rem rgba(150, 255, 255, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    --border-size: 3rem;
    --padding-size: 1.5rem;
}

.profile-img-cover {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: var(--border-size) solid black;
    transition: all 0.2s ease;
}
.profile {
    position: absolute;
    width: 70%;
    aspect-ratio: 1 / 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    transition: all 0.2s ease;
}

.profile-cover:hover {
    box-shadow: 0 0 2rem 0.6rem rgba(150, 255, 255, 0.4);
}
.profile-cover:hover .profile-img-cover {
    transform: rotate3d(1, -1, 0, 60deg) scale(1.1);
}

.profile-img-cover:nth-of-type(2) {
    width: calc(100% - var(--padding-size) * 2);
    position: absolute;
    z-index: 2;
}
.profile-cover:hover .profile-img-cover:nth-of-type(2) {
    border-left: var(--border-size) solid transparent;
    border-top: var(--border-size) solid transparent;
}
.profile-cover:hover .profile {
    transform: translate(-50%, -60%) scale(1.1);
}

@media(max-width: 930px) {
    .section-content {
        align-items: center;
        flex-direction: column-reverse;
    }

    .profile-cover {
        width: 300px;
        --border-size: 2rem;
    }
    .about-info {
        font-size: 1.2rem;
        align-items: center;
        text-align: center;

        & h3 {
            font-size: 2rem;
        }

        & h2 {
            font-size: 3rem;
        }
    }
}

@media(max-width: 600px) {
    .profile-cover {
        width: 280px;
        padding: 1rem;
        --border-size: 1.7rem;
        --padding-size: 1rem;
    }
    .about-info {
        font-size: 1.1rem;

        & h3 {
            font-size: 1.8rem;
        }
        & h2 {
            font-size: 2.7rem;
        }
    }
}
@media(max-width: 500px) {
    .about-info {
        font-size: 1rem;

        & h3 {
            font-size: 1.6rem;
        }
        & h2 {
            font-size: 2.3rem;
        }
    }
}
@media(max-width: 400px) {
    .profile-cover {
        width: 240px;
        --border-size: 1.5rem;
    }
    .about-info {
        & h3 {
            font-size: 1.35rem;
        }

        & h2 {
            font-size: 2rem;
        }
    }
}