header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background-color: black;
    justify-content: center;
}
header, nav {
    display: flex;
    align-items: center
}
nav {
    width: clamp(300px, 100%, 400px);
    padding: 0.5rem;
    justify-content: space-between;
    font-size: 1.4rem;
}

nav a {
    color: white;
    font-weight: 700;
    text-decoration: none;
}